<div class="container">
  <h1 class="">Register an Account</h1>

  <form method="POST" action="/register" id="validate">

    <div class="field">
      <label for="username">Username</label>
      <p class="control has-icons-left">
        <input  name="username" id="username" class="input"  type="text" placeholder="Usermame" required>
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <p class="control has-icons-left">
        <input  name="email" id="email" class="input" type="email" placeholder="Email" required>
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <p class="control has-icons-left">
        <input  name="password" id="password" class="input" type="password" placeholder="Password" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <label for="passwordConfirmation">Confirm Password</label>
      <p class="control has-icons-left">
        <input  name="passwordConfirmation" id="passwordConfirmation" class="input" type="password" placeholder="Password Confirmation" required>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <button class="button is-success">
          Register
        </button>
      </p>
    </div>
  </form>


</div>
