<h1>Creating a New post page </h1>
<div class="box upload-content">
<div class="content">
<p>Upload your image, and lets find you some information about it!</p>
  </div>
</div>


<form method="POST" action="/landmarks" id="validate">
<div class="box image-upload">
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>
</div>

<button class="button is-success">Create Post</button>
</form>
