<div id="top-image"></div>

<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 landing-title">
        Medium title
      </h1>
      <h2 class="subtitle landing-title">
        Medium subtitle
      </h2>
    </div>
  </div>
</section>
