<div id="top-image"></div>

<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 landing-title">
        InfoGram
      </h1>
      <h2 class="subtitle landing-title">
        Upload a picuture, find out the info... <strong class="landing-title">Simple</strong>
      </h2>
      <br>

      <h6 class="title is-6 landing-title"> By James Clarke </h6>
    </div>
  </div>
</section>
