
<div class="container">
<form method="POST" action="/login" id="validate">
  <div class="field">

    <label for="email">Email Adress</label>
    <p class="control has-icons-left">
      <input type="email" name="email" id="email" required class="input" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">

    <label for="password">Password</label>
    <p class="control has-icons-left">
      <input type="password" name="password" id="password" required class="input"placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>


    <div class="columns">
      <div class="column is-12"
      <p class="control">
        <button class="button is-success is-large">
          Login
        </button>
      </p>
    </div>
  </form>
</div>

<br>
<hr>

  <div class="columns">

    <div class="column is-half">
    <a href="<%= oauth.github.getLoginUrl() %>" target="_blank" class="button is-info is-outlined button is-large login-oauth">
      <span class="icon is-medium">
        <i class="fa fa-github"></i>
      </span>
      <span>Login with GitHub</span>
    </a>
  </p>
</div>

    <div class="column is-half">
    <a href="<%= oauth.instagram.getLoginUrl() %>" target="_blank" class="button is-info is-outlined button is-large login-oauth">
      <span class="icon is-medium">
        <i class="fa fa-instagram"></i>
      </span>
      <span>Login with Instagram</span>
    </a>
  </p>
</div>

</div>
</div>
